# Packages
node_modules/
package-lock.json
.yarn/install-state.gz

# Log files
logs/*
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Env
.env
config.*

# Miscellaneous
.tmp/
.idea/
.DS_Store

# Database
*.sqlite

# Build data
build/
deploy-commands.js
